// output:index.html
html(lang='en')
  head
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(rel="stylesheet", href="style.css")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
    script(src="script.js")
  
  body
    .container
      .main
        .show-input#input
        .show-result#result 0
        .row-1.row
          .item-50.item#clear AC
          .item#mod %
          .item#divide /

        .row-2.row
          .item#seven 7
          .item#eight 8
          .item#nine 9
          .item#multiply x
        .row-3.row
          .item#four 4
          .item#five 5
          .item#six 6
          .item#minus -
        .row-4.row
          .item#one 1
          .item#two 2
          .item#three 3
          .item#plus +
        .row-5.row
          .item.item-50#zero 0
          .item#decimal .
          .item.yellow#equals =
    .footer.text-center
      p Developed by 
        span.bold
          a(href="https://www.freecodecamp.com/shubhambeck1995" target="blank") Shubham Beck.
